@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <h1>Sorry</h1>
    <h2>We had a problem. Please try later.</h2>
</head>
<body>
</body>
</html>
